# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries (pandas, numpy etc)

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### Step 2. Run the below line of code to create a dictionary

In [5]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [4]:
raw_data

{'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
 'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
 'type': ['grass', 'fire', 'water', 'bug'],
 'hp': [45, 39, 44, 45],
 'pokedex': ['yes', 'no', 'yes', 'no']}

### Step 3. Assign it to a variable called pokemon and it should be a pandas Series.

In [6]:
pokemon=pd.Series(raw_data)
pokemon

name         [Bulbasaur, Charmander, Squirtle, Caterpie]
evolution      [Ivysaur, Charmeleon, Wartortle, Metapod]
type                           [grass, fire, water, bug]
hp                                      [45, 39, 44, 45]
pokedex                               [yes, no, yes, no]
dtype: object

### Step 4. If the DataFrame columns are in alphabetical order, change the order of the columns as name, type, hp, evolution, pokedex

In [7]:
pokemon=pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

In [8]:
pokemon[["name","type","hp","evolution","pokedex"]]

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert places (lakes, parks, hills etc) of your choice.

In [10]:
pokemon["Place"]=["Lakes","River","Hills","Park"]
pokemon

         name   evolution   type  hp pokedex  Place
0   Bulbasaur     Ivysaur  grass  45     yes  Lakes
1  Charmander  Charmeleon   fire  39      no  River
2    Squirtle   Wartortle  water  44     yes  Hills
3    Caterpie     Metapod    bug  45      no   Park

### Step 6. Display the data type of each column

In [11]:
for i in pokemon.columns:
    print(i,"====>",pokemon[i].dtypes)

name ====> object
evolution ====> object
type ====> object
hp ====> int64
pokedex ====> object
Place ====> object